@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import '~@elastic/eui/src/themes/amsterdam/_colors_light.scss';
@import '@elastic/eui/src/themes/amsterdam/colors_dark';
@import '@elastic/eui/src/themes/amsterdam/globals';
@import '@elastic/eui/src/themes/amsterdam/globals.scss';
@import '@elastic/eui/src/themes/amsterdam/global_styling/variables/_index.scss';

// Core
$euiColorPrimary: #14133a ;
$euiColorAccent: #ff9933 ;

// Modifier naming and colors.
$euiButtonTypes: (
  primary: var(-color-4c-secondary),
  accent: var(-color-4c-secondary),
  success: $euiColorSuccess,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost, // Ghost is special, and does not care about theming.
  text: $euiColorDarkShade, // Reserved for special use cases
) ;

$euiFontFamily: "Montserrat", serif ;
:root {
  // height of the header banner
  --kbnHeaderBannerHeight: #{$euiSizeXL};
  // total height of all fixed headers (when the banner is *not* present) inherited from EUI
  --kbnHeaderOffset: var(--euiFixedHeadersOffset, 0);
  // total height of everything when the banner is present
  --kbnHeaderOffsetWithBanner: calc(var(--kbnHeaderBannerHeight) + var(--kbnHeaderOffset));
  // height of the action menu in the header in serverless projects
  --kbnProjectHeaderAppActionMenuHeight: #{$euiSize * 3};

  // 4c custom colors 
// primary 
--color-4c-primary:#14133a;
--color-4c-primary-light:#dad9ff;
--color-cz-pimary-md:#020061;
// secondary 
--color-4c-secondary:#ff9933;
--color-4c-secondary-light:#fde2c6;
}
// remove findings and attack discovery 
// li.euiListGroupItem:has(#solutionSideNavItemLink-cloud_security_posture-findings) ,
// li.euiListGroupItem:has(#solutionSideNavItemLink-attack_discovery), 
// .css-mezjcv-euiFlexGroup-responsive-xs-flexStart-center-row:has(#solutionSideNavItemLink-explore){
//   display: none;
// }

.euiButton--primary {
  background-color: var(---color-4c-primary);
  color: var(--color-4c-primary-light);
}
*{
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  font-size:16px ;
}
input:focus{
  background-image: linear-gradient(to top,
  var(--color-4c-secondary),
  var(--color-4c-secondary) 2px,
  transparent 2px,
  transparent 100%
);
}
.css-yhttm1-euiButtonDisplay-euiButtonEmpty-xs-empty-primary-flush-left ,
.css-38cohn-euiButtonDisplay-euiButtonEmpty-s-empty-primary,
.css-4ljoze-euiLink-primary

{
  color: var(--color-4c-secondary) !important; 
}
.css-tr2sqy-euiTitle-xxs-euiCallOutHeader-primary , 
.css-1kdfwkt-euiButtonDisplay-euiButtonEmpty-m-empty-primary-euiHeaderSectionItemButton ,
.css-18cv3bk-euiButtonIcon-s-empty-primary ,
.css-7vyy05-euiButtonDisplay-euiButtonEmpty-m-empty-primary ,
.css-1o3xr6l-euiButtonDisplay-euiButtonEmpty-m-empty-primary-flush-both,
.css-w92548-euiButtonIcon-xs-empty-primary ,
.css-zosky5-euiButtonDisplay-euiButtonEmpty-xs-empty-primary-euiQuickSelectPopoverButton,
.css-1saf061-euiButtonIcon-m-empty-primary,
.css-9bd0lf-euiButtonIcon-m-empty-primary-query_bar_menu--button,
.css-zqlnb-euiTitle-xxxs-landing_links_image_card--title,
.css-ueav80-euiButtonDisplay-s-defaultMinWidth-euiButtonGroupButton-compressed-empty-primary,
.css-1ax57v2-replacement_card-component--ReplacementCard .euiAccordion__button,
.css-13fcias-euiSideNavItemButton-selected-trunk,
.css-1iyz4q0-euiButtonDisplay-euiButtonEmpty-m-empty-primary-flush-right,
.css-1pp94kf-euiButtonDisplay-euiButtonEmpty-xs-empty-primary,
.css-1ysi5ge-euiButtonDisplay-euiButtonEmpty-xs-empty-primary-flush-right,
.css-jlrz45-euiButtonDisplay-euiButtonEmpty-m-empty-primary-flush-left,
.css-1pp94kf-euiButtonDisplay-euiButtonEmpty-xs-empty-primary,
.css-16trkbk-euiTableHeaderCell__button:hover, 
.css-16trkbk-euiTableHeaderCell__button:focus,
.css-y0y8lx-euiButtonDisplay-euiButtonEmpty-s-empty-disabled-isDisabled-euiPaginationButton-isActive,
.css-1ndesvj-euiLink-primary-feedback_component--SubmitFeedbackComponent,
.gFUeCP .ingest-active-button,
.css-akxjbi-euiTitle-xs-euiCallOutHeader-primary
{
  color: var(--color-4c-primary) !important; 
}
.css-nk0pb7-euiPanel-none-s-primary-euiCallOut ,
.css-1g59xf1-euiButtonDisplay-m-base-primary,
.css-o78r8c-euiButtonDisplay-s-base-primary,
.css-2u7fue-euiSelectableListItem-s:hover:not([aria-disabled="true"]), 
.css-2u7fue-euiSelectableListItem-s.euiSelectableListItem-isFocused:not([aria-disabled="true"]),
.css-13zid0o-euiButtonDisplay-s-fullWidth-defaultMinWidth-base-primary,
.css-xrjjnu-euiButtonDisplay-s-defaultMinWidth-base-primary,
.css-zsrdee-euiButtonDisplay-m-fullWidth-defaultMinWidth-base-primary,
.css-1r1yx9p-euiPanel-none-m-primary-euiCallOut
{
  background-color: var(--color-4c-primary-light) !important;
  color: var(--color-4c-primary) !important;
}
.css-4wl8yg-euiButtonDisplay-m-defaultMinWidth-fill-primary ,
.css-1t2aqad-euiButtonDisplay-s-defaultMinWidth-fill-primary ,
.css-1d7to7j-euiButtonDisplay-m-fullWidth-defaultMinWidth-fill-primary,
.css-a7ca7z-euiButtonIcon-m-fill-primary,
.css-8ya1md-euiButtonDisplay-s-defaultMinWidth-euiButtonGroupButton-compressed-fill-primary,
.css-6zshw9-euiButtonDisplay-s-defaultMinWidth-fill-primary,
.css-id4g3i-euiCheckbox__square-selected,
.css-xsxddu-euiButtonDisplay-m-defaultMinWidth-fill-primary,
.css-3v99w0-euiButtonDisplay-m-fill-primary,
.css-1cb13a3-euiBadge-primary,
.css-1uc02es-euiSwitch__body-on,
.css-197uut3-euiRadio__circle-selected,
.css-15xy9es-euiCheckbox__square-selected
{
  background-color: var(--color-4c-primary) !important;
}
.css-vocvz-euiButtonDisplay-m-defaultMinWidth-base-primary ,
.css-13vvn2p-euiLink-subdued-euiBreadcrumb__content-application-firstChild-isTruncated:is(a), 
.css-13vvn2p-euiLink-subdued-euiBreadcrumb__content-application-firstChild-isTruncated:is(button),
.css-bhtg5n-euiLink-subdued-euiBreadcrumb__content-application-isTruncated:is(a), .css-bhtg5n-euiLink-subdued-euiBreadcrumb__content-application-isTruncated:is(button),
.css-1tho3ey-euiButtonIcon-m-base-primary{
  background-color: var(--color-4c-primary-light) !important;
  color: var(--color-4c-primary) !important;
}
.css-1jkowr9-euiTab-selected{
  box-shadow: var(--color-4c-secondary) 0px -2px 0px inset;
    color: var(--color-4c-secondary)
}
.css-1yi7efa-euiButtonDisplay-s-defaultMinWidth-base-success{
  color: var(--color-4c-secondary);
  background-color: var(--color-4c-secondary-light);
}
.d-none{
  display: none !important;
}